body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridItemOuter {
  display: flex;
}

.gridItemOuter,
.gridItemInner {
  background-color: aquamarine;
}

.gridItemInner {
  width: 20px;
  height: 20px;
}

#changeGrid {
  margin-bottom: 20px;
}
